*{
    box-sizing: border-box;
}



.holder{
display: flex;
flex-wrap: wrap;
width: 100%;
border: 6px solid black;
border-radius:100px 100px 0 0 ;
}

.item{
background-color: tomato;
height: 200px;
flex-grow: 1;
display: flex;
align-items: center;
justify-content: center;
font-size: 70px;
color: #fff;
}
.item:nth-child(1){
    background-color: tomato;
    order: -1;
    flex-grow: 2;
    flex-basis: calc(100%/2);
    border-radius: 100px 0 0 0;
}
.item:nth-child(2){
    background-color: blue;
    order: 1;
}
.item:nth-child(3){
    background-color: blueviolet;
}
.item:nth-child(4){
    background-color: green;
    order: 1;
}
.item:nth-child(5){
    background-color: yellow;
    order: -1;
    flex-grow: 2;
    flex-basis: calc(100%/2);
    border-radius:0 100px  0 0;
}


